<app-todo-navbar></app-todo-navbar>
<!-- <p>home works</p> -->
<mat-sidenav-container>
    <mat-sidenav  mode="side" [(opened)]="opened">

        
        <div class="side-menu">
            
            <a class="side-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="active">
                <p>{{list.title}}</p>
            </a>

            <!-- <a class="side-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="active">
                <p>{{list.title}}</p>
            </a> -->
        </div>

        <div class="new-button">
         <button class="btn btn-primary w-75 " routerLink="/newList">+ New List</button>

        </div>
        
    </mat-sidenav>
    <mat-sidenav-content>
        
       
        <router-outlet></router-outlet>
        <!-- <button mat-button (click)="opened=!opened">Toggle</button> -->
        <!-- <button mat-button (click)="open()">click</button> -->
    </mat-sidenav-content>
</mat-sidenav-container>
