
<div class="inbox-container">
    <div class="container ms-3 me-3 mt-2">
        <div>
            <h2>Inbox</h2>
        </div>

        <div class="task-list">

            <div *ngIf="tasks">
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }" >
                    <p>{{task.title}}</p>
                </div>
                <div class="empty-text" *ngIf ="tasks.length === 0">
                    <p>There are currently no tasks! Click add button to create a new task</p>
    
                </div>

            </div>
            <div class="empty-text" *ngIf ="!tasks">
                <p>Please select a task</p>

            </div>
            

            <!-- <div class="task" *ngFor="let task of tasks">
                <p>{{task.title}}</p>
            </div> -->

            <button routerLink="./newTask" class="circle-add-button btn btn-success"><mat-icon class="icon">add</mat-icon></button>
            
        </div>
        

        <!-- <div class="add_task">

            <button mat-raised-button color="accent"> <mat-icon>add_circle</mat-icon> Add Task</button>
            <input class="form-control w-100" type="text">
            <form>
                <div class="form-control">
                <div class="form-group">
                    <label for="">Enter Tsk</label>
                    <input type="text" placeholder="Task name" class="form-control task-form ">
                </div>
                <div class="form-group mt-3 mb-3">
                    <label for="">Enter description</label>
                    <input type="textarea" placeholder="Enter description
                    " class="form-control task-form">
                </div>
                </div>
            </form>
        </div> -->

    </div>
</div>