<!-- <app-todo-navbar></app-todo-navbar> -->
<div class="global-container">
    <div class="login-container">
        <div class="title">
            <h1>DO-It</h1>
            <h2>Your simple To-Do app</h2>
        </div>
        <div class="login-form">
            <div class="form">
                <input type="email" placeholder="Email address">
                <br>
                <input type="password" placeholder="Password">
                <br>
                <button routerLink="home">Log In</button>
                <a routerLink="/">login</a>
                <br>
                <a routerLink="register">New User? Register Here</a>
            </div>
        </div>
    </div>
</div>