<!-- <app-todo-navbar></app-todo-navbar> -->
<div class="global-container">
    <div class="login-container">
        <div class="title">
            <h1>Do-It</h1>
            <h2>Your simple To-Do app</h2>
        </div>
        <div class="login-form">
            <div class="form">
                <input #emailInput type="email" placeholder="Email address">
                <br>
                <input #pswInput type="password" placeholder="Password">
                <br>
                <button (click)="onLoginButtonClicked(emailInput.value, pswInput.value)" >Log in</button>
                
                <br>
                <p>Not got an account? <a routerLink="/register">Register Here</a></p>
            </div>
        </div>
    </div>
</div>