<div class="global-container">
    <div class="login-container">
        <div class="title">
            <h1>Welcome!!</h1>
            <h2>Things are easier To-Do with Do-It</h2>
        </div>
        <div class="login-form">
            <div class="form">
                
                <input #emailInput type="email" placeholder="Email address">
                <br>
                <input #pswInput type="password" placeholder="Password">
                <br>
                <button (click)="onSignupButtonClicked(emailInput.value, pswInput.value)">Register</button>
                <br>
                <p>Have an account? <a routerLink="/login">Log in</a></p>
            
            </div>
        </div>
    </div>
</div>