.navbar{
    justify-content: space-between;
    /* height: 8vh; */
}

.navbar button{
    padding: 1px;
    border: none;
}

.logo{
    display: flex;
    padding: 5px;
}

.logo button{
    margin-left: 2px;
}