<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new task
        </h1>
        <div class="search">
            <div class="inputgroup">
                <input #taskTitleInput type="text" class="form-control  me-3" placeholder="Enter the task"   >
                <br>
                <div class=" d-flex justify-content-end">
                <button class="btn btn-danger float-right  me-3 " routerLink="/" type="button" id="button-addon2" >Cancel</button>
                <button class="btn btn-primary float-right" type="button" id="button-addon2"  >Create</button> 
                </div>

              </div>

        </div>

    </div>

</div>